groq==0.31.1
gTTS==2.5.4
langchain==0.3.27
langchain-core==0.3.76
langchain-groq==0.3.8
langchain-text-splitters==0.3.11
langgraph==0.6.7
langgraph-checkpoint==2.1.1
langgraph-prebuilt==0.6.4
langgraph-sdk==0.2.9
langsmith==0.4.29
numpy==2.3.3
openai-whisper==20250625
pandas==2.3.3
pydantic==2.11.9
pydantic_core==2.33.2
pygame==2.6.1
pylibsrtp==1.0.0
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
regex==2025.9.18
requests==2.32.5
scipy==1.16.2
sounddevice==0.5.2
soundfile==0.13.1
streamlit==1.50.0
streamlit-webrtc==0.63.11
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.15.0
